*{
  box-sizing: border-box;
}
.body {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: black;
  justify-content: end;
  align-items: center;
  overflow: hidden;
  z-index: 5;
}

.buttonCopy{
  all: unset;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(255,255,255,0.1);
  border-radius: 3px;
  transition: transform 50ms;
}

.buttonCopy:hover{
  background-color: rgba(0,0,0,0.05);
  cursor: pointer;
  border: 1px solid white;
  transform: scale(1.05);
}
.beforebody{
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  padding-bottom: 20px;
  height: 100vh;
  position: relative;
  background-color: black;
  z-index: -0;
}
.imaged {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 600px;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
}

.imaged::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0));
  pointer-events: none; /* permite clicar nos elementos abaixo */
  z-index: 1;
}

.imageWrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0.5) ,rgba(0,0,0,1));
  pointer-events: none;
  z-index: 1;
}
.imageWrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.imgReal {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  max-width: 600px;
  background-color: black;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1500ms ease-in-out;
  z-index: -2;
}

.imgReal.active {
  opacity: 1;
  z-index: -1;
}

.qrcode.extraWidth{
  width: 100px;
  transition: width 200ms ease;
}
.qrcode:hover{
  cursor: pointer;
}
.qrcode{
  width: 30px;
  transition: width 200ms ease;
}


@media (max-width: 600px) {
  .beforebody{
    padding: 0px;
  }
  .body{
    padding: 0px;

  }
}